#map {
float: left;
width: 100%;
height: 100%;
}
#message {
position: absolute;
padding: 10px;
background: #555;
color: #fff;
width: 75px;
}
.chooser li:hover {
font-weight: bold;
cursor: pointer;
cursor: hand;
}
#OpenLayers.Control.PanZoom_5_zoomworld {
display: none;
}
#databases {
list-style-type: none;
}
#databases li:hover {
font-weight: bold;
cursor: pointer;
cursor: hand;
}
#loader {
position: absolute;
display: none;
z-index: 777;
}
#where {
font-size: 22px;
background: #fff;
}
.geocoder_form {
position: absolute;
top: 80px;
right: 20px;
z-index: 777;
}
form {
padding: 0;
margin: 0;
}
.selected {
font-weight: bold;
color: #019DBE;
}
.title {
font-size: 30px;
margin-top: 17px;
position: absolute;
top: 0px;
padding: 4px;
right: 50px;
z-index: 777;
background: #FFF;
}
.chooser_title {
font-size: 22px;
font-weight: bold;
padding: 5px;
}
.settings {
overflow: auto;
max-height: 80%;
width: 250px;
z-index: 999;
position: absolute;
top: 60px;
right: 50px;
z-index: 777;
background: #FFF;
}
.geocoder {
border: 1px solid black;
font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
font-size: 16px;
height: 25px;
line-height: 25px;
margin: 5px 50px 5px 0;
padding-left: 5px;
width: 230px;
}
h3 {
font-size: 20px;
padding: 0;
margin: 0;
}
#metadata {
margin-left: 10px;
padding: 5px;
}
#about {
padding: 10px;
position: absolute;
bottom: 0px;
right: 0px;
z-index: 777;
}
#menu {
height: 40%;
overflow: auto;
margin-left: 10px;
}
body {
font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
font-size: 16px;
line-height: 24px;
color: #252519;
margin: 0;
padding: 0;
}
a {
color: #261a3b;
}
  a:visited {
color: #261a3b;
}

dl {
float: left;
width: 100%;
margin: 1em 0;
padding: 0;
}

dt {
clear: left;
float: left;
margin: 0;
padding: 5px;
font-weight: bold;
}

dd {
float: left;
margin: 0;
padding: 5px;
}
